meta name='description' content="Check out some featured projects in my portfolio. Since 2008 I've working remotely for agencies, startups, and government. Nowadays I'm part of Startaê, where we love to create digital products, enjoying an awesome culture."
meta property='og:url' content="http://renatocontaifer.com"
meta property='og:title' content="Renato Contaifer - UI/UX Designer & Front-End Developer"
meta property='og:image' content="#{image_path('og-image.png')}"
meta property='og:description' content="Check out some featured projects in my portfolio. Since 2008 I've working remotely for agencies, startups, and government. Nowadays I'm part of Startaê, where we love to create digital products, enjoying an awesome culture."
meta property='article:author ' content="Renato Contaifer - UI/UX Designer & Front-End Developer"
meta property='og:site_name' content="Renato Contaifer - UI/UX Designer & Front-End Developer"

